* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: purple;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
}
.logo {
    color: white;
    text-align: center;
    letter-spacing: 2px;
    font-size: 25px;
    font-family: 'Source Sans Pro', sans-serif;
}

.navig {
    display: flex;
    background-color: purple;
    justify-content: space-around;
    width: 30%;
}
.navig a {
    color: white;
    text-decoration: none;
    letter-spacing: 4px;
    font-size: 16px;
    padding: 15px 20px;
    transition: all 0.2s ease;
    font-family: 'Source Sans Pro', sans-serif;
}
.navig li {
    list-style: none;
}

.navig a:hover {
    background-color: silver;
}

.navig a:focus {
    background-color: black;
}
main {
    background-color: ghostwhite;
}
h2 {
    padding: 100px 0 0 100px;
    width: 50%;
}
p {
    padding-left: 90px;  
    padding-top: 100px
}
.main-image {
    float: right;
    background-color: ghostwhite;
}