/* beginning of nav*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  header {
    position: fixed;
    display: flex;
    justify-content: center;
    background: transparent;
    align-items: center;
    height: 8vh;
    width: 100%;
    z-index: 2;
    transform: translateY(-60px);
    font-family: 'Lato', sans-serif;
  }
  .logo-container, .nav-links {
    display: flex;
  }
  .logo {
    font-weight: 600;
    margin: 5px;
    letter-spacing: 1px;
  }
  .logo-container {
    align-items: center;
    margin-left: 5%;
  }
  nav {
    display: flex;
    width: 80%;
    margin: auto;
    align-content: center;
  }
  .nav-links {
    justify-content: flex-end;
    list-style: none;
    margin: 10px 30px 0 0;
    flex: 5;
    align-content: center;
  }
  .nav-link {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15rem;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
    margin-bottom: 10px;
    transform: translateY(-10px);
  }
  .nav-link:hover {
    color: rgb(201, 92, 201);
  }
  .nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(201, 92, 201);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }
  .nav-link:hover:after {
    width: 100%; 
    left: 0; 
  }
  .socials {
    flex: 1;
    list-style: none;
    display: flex;
    width: 25px;
    height: auto;
    margin-top: 8px;
    justify-content: space-around;
  }
  .social {
    margin-top: 3px;
    width: 25px;
    height: auto;
    transition: 0.4s all ease;
  }
  #twitter:hover {
    content: url(../homepage/img/twitter_color.png);
    width: 30px;
    height: auto;
  }
  #facebook:hover {
    content: url(../homepage/img/facebook_color.png);
    width: 30px;
    height: auto;
  }
  #linkedin:hover {
    content: url(../homepage/img/linkedin_color.png);
    width: 30px;
    height: auto;
  }
  .logo-container img {
    height: 3rem;
  }
body{
    margin:0;
    padding:0;
    background:white;
    font-family:sans-serif;
}
main {
    margin-top: 60px;
}
.container{
    width:960px;
    margin:70px auto 0;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}

.container .box
{
    position:relative;
    width:300px;
    height:300px;
    background:#FFEBCD;
    margin:10px;
    box-sizing:border-box;
    display:inline-block;
}
.container .box .Yara
{
    position: relative;
    overflow:hidden;
}
.container .box .Yara img
{
    max-width:100%;
    transition: transform 2s;
}
.container .box:hover .Yara img
{
    transform:scale(1.2);
}
.container .box .details
{
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background:rgba(44, 40, 40, 0.8);
    transform: scaleY(0);
    transition:transform .5s;
}
.container .box:hover .details
{
    transform: scaleY(1);
}
.container .box .details .content
{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    padding:15px;
    color:#fff;
}
.container .box .details .content h2
{
    margin:0;
    padding:0;
    font-size:20px;
    color:#FFEBCD;
}
.container .box .details .content p
{
    margin:10px 0 0;
    padding:0;
}
.container .box .Qaswar
{
    position: relative;
    overflow:hidden;
}
.container .box .Qaswar img
{
    max-width:100%;
    transition: transform 2s;
}
.container .box:hover .Qaswar img
{
    transform:scale(1.2);
}
.container .box .details1
{
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background:rgba(44, 40, 40, 0.8);
    transform: scaleY(0);
    transition:transform .5s;
}
.container .box:hover .details1
{
    transform: scaleY(1);
}
.container .box .details1 .content1
{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    padding:15px;
    color:#fff;
}
.container .box .details1 .content1 h2
{
    margin:0;
    padding:0;
    font-size:20px;
    color:#FFEBCD;
}
.container .box .details1 .content1 p
{
    margin:10px 0 0;
    padding:0;
}
.container .box .Marwan
{
    position: relative;
    overflow:hidden;
}
.container .box .Marwan img
{
    max-width:100%;
    transition: transform 2s;
}
.container .box:hover .Marwan img
{
    transform:scale(1.2);
}
.container .box .details2
{
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background:rgba(44, 40, 40, 0.8);
    transform: scaleY(0);
    transition:transform .5s;
}
.container .box:hover .details2
{
    transform: scaleY(1);
}
.container .box .details2 .content2
{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    padding:15px;
    color:#fff;
}
.container .box .details2 .content2 h2
{
    margin:0;
    padding:0;
    font-size:20px;
    color:#FFEBCD;
}
.container .box .details2 .content2 p
{
    margin:10px 0 0;
    padding:0;
}

.container .box .Ayman
{
    position: relative;
    overflow:hidden;
}
.container .box .Ayman img
{
    max-width:100%;
    transition: transform 2s;
}
.container .box:hover .Ayman img
{
    transform:scale(1.2);
}
.container .box .details3
{
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background:rgba(44, 40, 40, 0.8);
    transform: scaleY(0);
    transition:transform .5s;
}
.container .box:hover .details3
{
    transform: scaleY(1);
}
.container .box .details3 .content3
{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    padding:15px;
    color:#fff;
}
.container .box .details3 .content3 h2
{
    margin:0;
    padding:0;
    font-size:20px;
    color:#FFEBCD;
}
.container .box .details3 .content3 p
{
    margin:10px 0 0;
    padding:0;
}
.container .box .Hiba
{
    position: relative;
    overflow:hidden;
}
.container .box .Hiba img
{
    max-width:100%;
    transition: transform 2s;
}
.container .box:hover .Hiba img
{
    transform:scale(1.2);
}
.container .box .details4
{
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background:rgba(44, 40, 40, 0.8);
    transform: scaleY(0);
    transition:transform .5s;
}
.container .box:hover .details4
{
    transform: scaleY(1);
}
.container .box .details4 .content4
{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    padding:15px;
    color:#fff;
}
.container .box .details4 .content4 h2
{
    margin:0;
    padding:0;
    font-size:20px;
    color:#FFEBCD;
}
.container .box .details4 .content4 p
{
    margin:10px 0 0;
    padding:0;
}
.container .box .Adnane
{
    position: relative;
    overflow:hidden;
}
.container .box .Adnane img
{
    max-width:100%;
    transition: transform 2s;
}
.container .box:hover .Adnane img
{
    transform:scale(1.2);
}
.container .box .details5
{
    position:absolute;
    top:10px;
    left:10px;
    bottom:10px;
    right:10px;
    background:rgba(44, 40, 40, 0.8);
    transform: scaleY(0);
    transition:transform .5s;
}
.container .box:hover .details5
{
    transform: scaleY(1);
}
.container .box .details5 .content5
{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    text-align:center;
    padding:15px;
    color:#fff;
}
.container .box .details5 .content5 h2
{
    margin:0;
    padding:0;
    font-size:20px;
    color:#FFEBCD;
}
.container .box .details5 .content5 p
{
    margin:10px 0 0;
    padding:0;
}
footer {
    position: absolute;
    display: flex;
    height: 80vh;
    width: 100%;
    background-color: black;
}
.desc {
    color: white;
    justify-content: center;
    flex: 1;
    margin: 150px 70px 0 70px;
    font-size: 20px;
    width: 10%;
}
.desc h3 {
    text-align: center;
}
.info {
    flex: 2;
}
.info ul {
    list-style: none;
    text-align: center;
    margin: 150px 0 0 200px;
}
.desc-link {
    color: white;
    text-decoration: none;
    font-size: 17px;
    line-height: 200%;
}



