/* beginning of nav*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-colored {
    background-color: white;
}
.nav-transparent {
    background-color: transparent;
}
body,html {
    position: relative;
    font-size: 16px;
}
header.scrolled {
    background-color: white;
    transition: background-color 200ms linear;
}
header {
    font-family: 'lato',sans-serif;
    position: fixed;
    display: flex;
    justify-content: center;
    background: transparent;
    align-items: center;
    height: 8%;
    width: 100%;
    z-index: 2;
    top: 0;
}
.logo-container, .nav-links {
    display: flex;
}
.logo {
    font-weight: 600;
    margin: 0.3125rem;
    letter-spacing: 0.0625rem;
}
.logo-container {
    align-items: center;
    margin-left: 5%;
}
nav {
    display: flex;
    width: 80%;
    margin: auto;
    align-content: center;
}
.nav-links {
    justify-content: flex-end;
    list-style: none;
    margin: 0.625rem 1.875rem 0 0;
    flex: 5;
    align-content: center;
}
.nav-link {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15rem;
    display: inline-block;
    padding: 0.9375rem 1.25rem;
    position: relative;
    margin-bottom: 0.625rem;
    transform: translateY(-0.625rem);
  }
.nav-link:hover {
    color: rgb(201, 92, 201);
}
.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.125rem;
    left: 50%;
    position: absolute;
    background: rgb(201, 92, 201);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-link:hover:after {
    width: 100%; 
    left: 0; 
}
.socials {
    flex: 1;
    list-style: none;
    display: flex;
    width: 1.5625rem;
    height: auto;
    margin-top: 0.5rem;
    justify-content: space-around;
}
.social {
    margin-top: 0.1875rem;
    width: 1.5625rem;
    height: auto;
    transition: 0.4s all ease;
}
#twitter:hover {
    content: url(img/twitter_color.png);
    width: 1.875rem;
    height: auto;
}
#facebook:hover {
    content: url(img/facebook_color.png);
    width: 1.875rem;
    height: auto;
}
#linkedin:hover {
    content: url(img/linkedin_color.png);
    width: 1.875rem;
    height: auto;
}
.logo-container img {
    height: 3rem;
}
/* ending of nav */
main { 
    font-family: 'Poppins',sans-serif;
}
.part1 {
    display: flex;
    height: 40rem;
}
.title {
    width: 40%;
    align-content: center;
    z-index: 1;
    padding: 2.5rem;
    margin: 9.375rem 0 0 3.125rem;
    animation: title-entrance 1.5s;
}
.text {
    margin-bottom: 2.5rem;
}
.text h1 {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 1000;
    margin-left: 5%;
}
.text p {
    font-size: 1rem;
    margin: 1.875rem 0 0 3%;
    text-align: center;
    line-height: 200%;
}
.action {
    text-align: center;
}
.btn {
    width: 9rem;
    height: 4rem;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border: 0;
    background: none;
    font-size: 0.75rem;
    font: 'lato'sans-serif;
    cursor: pointer;
    position: relative;
    box-shadow: inset black 0 0 0.2rem;
    color: black;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    box-sizing: border-box;
}
.btn::before, .btn::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.btn::before {
    top: 0;
    left: 0;
}
.btn::after {
    bottom: 0;
    right: 0;
}
.btn:hover {
    color: #60daaa;
}
.btn:hover::before, .btn:hover::after {
    width: 100%;
    height: 100%;
}
.btn:hover::before {
    border-top-color: #60daaa;
    border-right-color: #60daaa;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.btn:hover::after {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.main-image {
    position: absolute;
    z-index: -1;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
@keyframes title-entrance {
    0% {
        opacity: 0;
        transform: translateX(-1000px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes title2-entrance {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.part2 {
    height: 40rem;
    background-color: white;
    padding: 4rem 0 0 0;
}
.wrap-part2 {
    display: flex;
    width: 70%;
    height: 80%;
    margin: auto;
    border: black 1px solid;
    background-color: white;
}
.title2 {
    align-content: center;
    z-index: 1;
    padding: 5rem 2rem 0 0;
    margin-left: 9rem;
    animation: title2-entrance 1.5s;
}
.text2 h1 {
    color: #b2936d;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 1000;
    margin-left: 5%;
}
.text2 p {
    font-size: 1rem;
    margin: 1.875rem 0 0 3%;
    text-align: center;
    line-height: 200%;
    color: black;
}
.image2 {
    margin-left: 0rem;
}
.action2 {
    text-align: center;
}
.btn2 {
    width: 9rem;
    height: 4rem;
    padding: 1rem;
    margin: 2rem 0 0 0;
    border: 0;
    background: none;
    font-size: 0.75rem;
    font: 'lato'sans-serif;
    cursor: pointer;
    position: relative;
    box-shadow: inset #b2936d 0 0 0.2rem;
    color: #b2936d;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    box-sizing: border-box;
}
button::before, button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
}
.btn2::before, .btn2::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.btn2::before {
    top: 0;
    left: 0;
}
.btn2::after {
    bottom: 0;
    right: 0;
}
.btn2:hover {
    color: #bccc5f;
}
.btn2:hover::before, .btn2:hover::after {
    width: 100%;
    height: 100%;
}
.btn2:hover::before {
    border-top-color: #bccc5f;
    border-right-color: #bccc5f;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.btn2:hover::after {
    border-bottom-color: #bccc5f;
    border-left-color: #bccc5f;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.flav {
    display: flex;
    height: 39rem;
    background-color: white;
    width: 100%;
}
.download-image {
    flex: 1;
    right: 0;
}
.download-image img {
    height: 100%;
}
.download-text {
    flex: 2;
    margin: 5rem 0 0 4rem;
}
.download-text h1 {
    font-size: 3rem;
}
.download-text p {
    margin: 2rem 0 0 0;
    line-height: 200%;
}
.available {
    margin-top: 7rem;
}
.app-link {
    margin-top: 5rem;
    display: flex;
    justify-content: flex-start;
}
.app-link a {
    margin-left: 6rem;
}
*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-container{
    background-color:#212329;
    padding:4rem 0 2rem 0;
}
.footer{
    width:80%;
    background-color:#212329;
    color:white;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:0 auto;
}
.footer-heading{
    display:flex;
    flex-direction: column;
    margin-right: 4rem;
}
.footer-heading h2{
    margin-bottom: 2rem;
}
.footer-heading a{
    color:white;
    text-decoration: none;
    margin-bottom:0.5rem;
}
.footer-heading a:hover{
    color:red;
    transition: 0.3s ease-out;
}
.footer-email-form h2{
    margin-bottom: 2rem;
}
#footer-email {
    width:250px;
    height:40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom:1rem;
}
#footer-email::placeholder{
    color:#b1b1b1;
}
#footer-email-btn{
    width: 100px;
    height: 40px;
    border-radius: 4px;
    background-color:#F9423D;
    outline: none;
    border: none;
    color:#fff;
    font-size: 1rem;
}
#footer-email-btn:hover{
    cursor: pointer;
    background-color: #337AF1;
    transition: all 0.4s ease-out;
}
@media screen and (max-width:1150px){
    .footer{
        height: 50vh;
     }
     .footer-email-form{
         margin-top:4rem;
     }
}
@media screen and (max-width:820px){
    .footer{
        padding-top: 4rem;
    }   
}
@media screen and (max-width:720px){
    .footer-3{
        display:none;
     }
     .footer-email-form{
         margin-top:2rem;
     }
}
.copyright {
    display: flex;
    justify-content: center;
    margin: 3rem auto 0 auto;
    padding-top: 1rem;
    border-top: grey 1px solid;
    width: 80%;
    color: white;
    font-family: 'lato',sans-serif;
}
.wrapper{
    overflow: hidden;
    background-color: white;
    width: 100%;
    height: 53rem;
}
  
.wrapper h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 270%;
    margin-bottom: 10%;
    text-align: center;
    background-color: white;   
}   

.slide{
    display:flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    flex-wrap: wrap;
    background-color: white;
}

  
.slide .Sloosher p{
    width: 40.625rem;
    padding: 0.3125rem;
    line-height: 1.875;  
    color: rgb(83, 81, 81);  
    left: 20%;
    font-size: 1.625rem;
    position: relative;
    transition: 0.1s all ease;
    background-color: white;
    
}
 

.slide .Sloosher h3{
    color: #000000;
    font-size: 1.625;
    margin-top: 7%;
    left: 20%;
    position: relative;
}
  
.slide .Sloosher p.role{
    color: rgb(46, 46, 46);
    margin: 1.25rem 0;
    font-size: 1.125rem;
    position: relative;
    left:22%;
    text-transform: uppercase;
}
  
.slide .Sloosher .review_img{
    position: relative;
    top: -3.75rem;
    left: 55%;
    width: 6.25rem;
    height: 6.25rem; 
}
.slide .Sloosher .review_img img{
    width: 12.5rem;
    height: 12.5rem;
    padding: 2px;
    border:1px solid #021a40;
    background-color:rgb(44, 44, 44);
}
    

#myBtn {
    display: none;
    position: fixed;
    bottom: 1.25rem;
    right: 1.875rem;
    z-index: 99;
    font-size: 1.125rem;
    border: none;
    outline: none;
    background-color: rgb(182, 107, 182);
    color: white;
    cursor: pointer;
    padding: 0.9375rem;
    border-radius: 4px;
}
  
.slider{
    width: 37.75rem;
    border-radius: 0.625rem; 
    background-color: white;
    
}
  
.slides{
    width: 900%;
    height: 28.25rem;
    display: flex;
    background-color: white;
}
  
.slides input{
    display: none;
}
  
.slide{
    width: 20%;
    transition: 1s;
    
}
  
.slide img{
    width: 50rem;
    height: 31.25rem;
    
}
  
  
.navigation-manual{
    position: absolute;
    width: 100%;
    margin-top: -2.5rem;
    display: flex;
    justify-content: center;
    
}
  
.manual-btn{
    border: 0.125rem solid #020202;
    padding: 0.3125rem;
    border-radius: 1.25rem;
    cursor: pointer;
    transition: 1s;
    margin-top: 3%;
    
}
  
.manual-btn:not(:last-child){
     margin-right: 2.5rem;
}
  
.manual-btn:hover{
    background: #ffffff;
}
  
#radio1:checked ~ .first{
    margin-left: 0;
}
  
#radio2:checked ~ .first{
    margin-left: -20%;
}
  
#radio3:checked ~ .first{
    margin-left: -40%;
}
  
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
  
.navigation-auto{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 25.7rem;
} 
.navigation-auto div{
    border: 2px solid #6ee8fd;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
    margin-top: 3%
} 
.navigation-auto div:not(:last-child){
    margin-right: 40px;
} 
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #6ee8fd;
}
  
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #6ee8fd;
}
  
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #6ee8fd;
}
  
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #6ee8fd;
}
#radio5:checked ~ .navigation-auto .auto-btn5{
    background: #6ee8fd;
}
