/* beginning of nav*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
    position: relative;
    font-size: 16px;
}
header {
    font-family: 'lato',sans-serif;
    position: fixed;
    display: flex;
    justify-content: center;
    background: transparent;
    align-items: center;
    height: 8%;
    width: 100%;
    z-index: 2;
}
.logo-container, .nav-links {
    display: flex;
}
.logo {
    font-weight: 600;
    margin: 0.3125rem;
    letter-spacing: 0.0625rem;
}
.logo-container {
    align-items: center;
    margin-left: 5%;
}
nav {
    display: flex;
    width: 80%;
    margin: auto;
    align-content: center;
}
.nav-links {
    justify-content: flex-end;
    list-style: none;
    margin: 0.625rem 1.875rem 0 0;
    flex: 5;
    align-content: center;
}
.nav-link {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15rem;
    display: inline-block;
    padding: 0.9375rem 1.25rem;
    position: relative;
    margin-bottom: 0.625rem;
    transform: translateY(-0.625rem);
  }
.nav-link:hover {
    color: rgb(201, 92, 201);
}
.nav-link:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 0.125rem;
    left: 50%;
    position: absolute;
    background: rgb(201, 92, 201);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.nav-link:hover:after {
    width: 100%; 
    left: 0; 
}
.socials {
    flex: 1;
    list-style: none;
    display: flex;
    width: 1.5625rem;
    height: auto;
    margin-top: 0.5rem;
    justify-content: space-around;
}
.social {
    margin-top: 0.1875rem;
    width: 1.5625rem;
    height: auto;
    transition: 0.4s all ease;
}
#twitter:hover {
    content: url(img/twitter_color.png);
    width: 1.875rem;
    height: auto;
}
#facebook:hover {
    content: url(img/facebook_color.png);
    width: 1.875rem;
    height: auto;
}
#linkedin:hover {
    content: url(img/linkedin_color.png);
    width: 1.875rem;
    height: auto;
}
.logo-container img {
    height: 3rem;
}
/* ending of nav */
main { 
    font-family: 'Poppins',sans-serif;
}
.part1 {
    display: flex;
    height: 40rem;
}
.title {
    width: 40%;
    align-content: center;
    z-index: 1;
    padding: 2.5rem;
    margin: 9.375rem 0 0 3.125rem;
    animation: title-entrance 1.5s;
}
.text {
    margin-bottom: 2.5rem;
}
.text h1 {
    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 1000;
    margin-left: 5%;
}
.text p {
    font-size: 1rem;
    margin: 1.875rem 0 0 3%;
    text-align: center;
    line-height: 200%;
}
.action {
    text-align: center;
}
.btn {
    width: 9rem;
    height: 4rem;
    padding: 1rem;
    margin: 0 0 1rem 0;
    border: 0;
    background: none;
    font-size: 0.75rem;
    font: 'lato'sans-serif;
    cursor: pointer;
    position: relative;
    box-shadow: inset black 0 0 0.2rem;
    color: black;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    box-sizing: border-box;
}
.btn::before, .btn::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.btn::before {
    top: 0;
    left: 0;
}
.btn::after {
    bottom: 0;
    right: 0;
}
.btn:hover {
    color: #60daaa;
}
.btn:hover::before, .btn:hover::after {
    width: 100%;
    height: 100%;
}
.btn:hover::before {
    border-top-color: #60daaa;
    border-right-color: #60daaa;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.btn:hover::after {
    border-bottom-color: #60daaa;
    border-left-color: #60daaa;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.main-image {
    position: absolute;
    z-index: -1;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
@keyframes title-entrance {
    0% {
        opacity: 0;
        transform: translateX(-1000px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
@keyframes title2-entrance {
    0% {
        opacity: 0;
        transform: translateX(1000px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}
.part2 {
    height: 40rem;
    background-color: #f4f4f4;
    padding: 4rem 0 0 0;
}
.wrap-part2 {
    display: flex;
    width: 70%;
    height: 80%;
    margin: auto;
    border: black 1px solid;
    background-color: #2c3136;
}
.title2 {
    align-content: center;
    z-index: 1;
    padding: 1rem 10rem 0 0;
    margin-left: 9rem;
    animation: title2-entrance 1.5s;
}
.text2 h1 {
    color: #b2936d;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 1000;
    margin-left: 5%;
}
.text2 p {
    font-size: 0.8rem;
    margin: 1.875rem 0 0 3%;
    text-align: center;
    line-height: 200%;
    color: white;
}
.image2 {
    margin-left: 1.4rem;
}
.action2 {
    text-align: center;
}
.btn2 {
    width: 9rem;
    height: 4rem;
    padding: 1rem;
    margin: 2rem 0 0 0;
    border: 0;
    background: none;
    font-size: 0.75rem;
    font: 'lato'sans-serif;
    cursor: pointer;
    position: relative;
    box-shadow: inset #b2936d 0 0 0.2rem;
    color: #b2936d;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
    box-sizing: border-box;
}
button::before, button::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; 
}
.btn2::before, .btn2::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
}
.btn2::before {
    top: 0;
    left: 0;
}
.btn2::after {
    bottom: 0;
    right: 0;
}
.btn2:hover {
    color: #bccc5f;
}
.btn2:hover::before, .btn2:hover::after {
    width: 100%;
    height: 100%;
}
.btn2:hover::before {
    border-top-color: #bccc5f;
    border-right-color: #bccc5f;
    -webkit-transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
    transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.btn2:hover::after {
    border-bottom-color: #bccc5f;
    border-left-color: #bccc5f;
    -webkit-transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
    transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
footer {
    position: absolute;
    display: flex;
    height: 30%;
    width: 100%;
    background-color: black;
}
.desc {
    color: white;
    justify-content: center;
    flex: 1;
    margin: 9.375rem 4.375rem 0 4.375rem;
    font-size: 1.25;
    width: 10%;
}
.desc h3 {
    text-align: center;
}
.info {
    flex: 2;
}
.info ul {
    list-style: none;
    text-align: center;
    margin: 9.375rem 0 0 12.5rem;
}
.desc-link {
    color: white;
    text-decoration: none;
    font-size: 1.0625rem;
    line-height: 200%;
}
.wrapper{
    overflow: hidden;
}
  
.wrapper h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    margin-bottom: 60px;
    text-align: center;
}   


.slide{
    display:flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
}

  
.slide .Sloosher{
    background: rgba(95, 2, 114, 0);
    margin: 20px;
    margin-bottom: 50px;
    width: 350px;
    padding: 10px;
    line-height: 20px;
    color: rgb(185, 185, 185);  
    position: relative;
    transition: 0.3s all ease;
    
}
 

.slide .Sloosher h3{
    color: #000000;
    font-size: 26px;
    margin-top: 50px;
}
  
.slide .Sloosher p.role{
    color: rgb(46, 46, 46);
    margin: 12px 0;
    font-size: 12px;
    text-transform: uppercase;
}
  
.slide .Sloosher .review_img{
    position: relative;
    top: -60px;
    left: 32%;
    width: 100px;
    height: 100px; 
}
.slide .Sloosher .review_img img{
    width: 120px;
    height: 120px;
    padding: 2px;
}
    

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgb(182, 107, 182);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
}
  
.slider{
    width: 700px;
    height: 500px;
    border-radius: 10px; 
    
}
  
.slides{
    width: 500%;
    height: 500px;
    display: flex;
    
}
  
.slides input{
    display: none;
}
  
.slide{
    width: 20%;
    transition: 3s;
}
  
.slide img{
    width: 800px;
    height: 500px;
}
  
  
.navigation-manual{
    position: absolute;
    width: 1300px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}
  
.manual-btn{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
    transition: 1s;
}
  
.manual-btn:not(:last-child){
     margin-right: 40px;
}
  
.manual-btn:hover{
    background: #ffffff;
}
  
#radio1:checked ~ .first{
    margin-left: 0;
}
  
#radio2:checked ~ .first{
    margin-left: -20%;
}
  
#radio3:checked ~ .first{
    margin-left: -40%;
}
  
#radio4:checked ~ .first{
    margin-left: -60%;
}
  

.navigation-auto{
    position: absolute;
    display: flex;
    width: 1300px;
    justify-content: center;
    margin-top: 460px;
}
  
.navigation-auto div{
    border: 2px solid #ffffff;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
  
.navigation-auto div:not(:last-child){
    margin-right: 40px;
}
  
#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #ffffff;
}
  
#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #ffffff;
}
  
#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #ffffff;
}
  
#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #ffffff;
}